.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.teamIcon {
    font-size: 26px;
    margin-right: 12px;
}

.logoButton {
    font-weight: 600;
    text-transform: uppercase;
}
